<div class="container">
    <form  method="post">
        <div class="form-group">
          <label for="Apelido">Apelido</label>
          <input type="text" name="Apelido" id="Apelido" class="form-control" [(ngModel)]="pet.apelido" placeholder="{{pet.apelido}}" aria-describedby="Apelido">
          <small id="Apelido" class="text-muted">Apelido do Pet</small>
        </div>
        <div class="form-group">
          <label for="Especie">Especie</label>
          <input type="text" name="Especie" id="Especie" class="form-control"  [(ngModel)]="pet.especie" placeholder="{{pet.especie}}" aria-describedby="Especie">
          <small id="Especie" class="text-muted">Especie do Pet</small>
        </div>
        <div class="form-group">
          <label for="raca">Raça</label>
          <input type="text" name="raca" id="raca" class="form-control" [(ngModel)]="pet.raca" placeholder="{{pet.raca}}" aria-describedby="raca">
          <small id="raca" class="text-muted">Raça do Pet</small>
        </div>
        <div class="form-group">
          <label for="Porte">Porte</label>
          <input type="text" name="Porte" id="Porte" class="form-control" [(ngModel)]="pet.porte" placeholder="{{pet.porte}}" aria-describedby="Porte">
          <small id="Porte" class="text-muted">Porte do Pet</small>
        </div>
        <div class="form-group">
          <label for="idade">Idade</label>
          <input type="text" name="idade" id="idade" class="form-control" [(ngModel)]="pet.idade" placeholder="{{pet.idade}}" aria-describedby="idade">
          <small id="idade" class="text-muted">Idade do Pet</small>
        </div>
        <div class="form-group">
          <label for="genero">Genero</label>
          <input type="text" name="genero" id="genero" class="form-control" [(ngModel)]="pet.genero" placeholder="{{pet.genero}}" aria-describedby="genero">
          <small id="genero" class="text-muted">Genero do Pet</small>
        </div>
        
        <a name="voltar" id="voltar" class="btn btn-primary mb2 mr-2" [routerLink]="['/pets']" routerLinkActive="router-link-active"  role="button">Voltar</a>
        <a name="confirmar" id="confirmar" class="btn btn-success" (click)="cadastrar(pet._id)" routerLinkActive="router-link-active"  role="button">Confirmar</a>
    
    </form>

    <div *ngIf="mensagem" class="alert alert-info mt-2" role="alert">
      <h4 class="alert-heading">Info</h4>
      <p>{{mensagem}}</p>
      <p class="mb-0"></p>
    </div>
    
</div>